
/*----Big tablet to 1200px (width smaller than the 1140px row)----*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
    width: 100%;
    padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    
    .cities {
        height: 60vh;
    }
    
}


/*----small tablet to big tablet---*/
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .logo {
        width: 180px;
        height: auto;
    }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
        font-size: 120%;
    }
    
    .section-meals p {
        font-size: 120%;
    }
    
    .section-features p {
        font-size: 120%;
    }
    
    .section-features h3 {
        font-size: 140%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step {
        margin-bottom: 40px;
    }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .works-step div {
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 120%;
    margin-right: 25px;
    }
    
    .calendly {
        margin-top: 0px;
    }
    
    .cities {
        height: 50vh;
    }
    
    .denmark {
        margin-left: 3%;
    }
    
    .cities img {
        width: 18%;
        height: 80px;
        margin-bottom: 10px;
    }
    
    .plan-box {
        width: 100%;
        margin-left: 0;
    }
    
    .plan-box li {
        font-size: 110%;
    }
    
    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }
    .section-meals h2 { font-size: 140%; }
}

/*----Small phones to small tablets----*/
@media only screen and (max-width: 767px) {
    .section-features h3 {
        text-align: center;
    }
    
    .section-features p {
        font-size: 110%;
    }
        
    .section-meals p {
        font-size: 110%;
    }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    .works-step div {
    height: 35px;
    width: 35px;
    padding: 5px;
    font-size: 120%;
    margin-right: 25px;
    }
    
    .interview {
        width: 70%;
    }
    
    .steps-box:first-child { text-align: center; }
    
    .meals-showcase li {
    display: block;
    float: left;
    width: 50%; }
    
    .cities {
        height: 60vh;
    }
    
    .cities img {
    width: 17%;
    height: 50px;
    }
    
    body {font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    
    .col { 
    width: 100%;
    margin: 0 0 4% 0;
    }
    
    .main-nav { display: none; }
    .mobile-nav-icon {
        display: inline-block;
        position: relative;
        z-index: 9999;
    }
    
    .main-nav {
        float: none;
        position: absolute;
        z-index: 8888;
        width: 100%;
        height: 50vh;
        margin: 0;
        margin-left: -2%;
        background-color: #2487c9;
        text-align: center;
        padding-top: 20vh;
    }
    
    .main-nav li {
        display: block;
        margin-left: 0;
        font-size: 110%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .logo {
        height: 50px;
        width: auto;
    }

    .sticky .main-nav { margin-top: 0; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
        color: #fff;
    }
    
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    .sticky .mobile-nav-icon i.ion-close-round { color: #555; }
    
    .busi {
        text-align: center;
    }
    
    .busin {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

/*----Small phones ----*/
@media only screen and (max-width: 480px) {
    
    .cities {
        height: 40vh;
    }
    
    .cities img {
        display: inline-block;
        width: 17%;
        height: 35px;
        margin-bottom: 0px;
    }
    
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
    }
    
    .finp {
        padding-bottom: 55px;
    }
    
    .busi {
        text-align: center;
    }
    
    .busin {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step div {
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 120%;
    margin-right: 25px;
    }
    
    .calendly {
        margin-top: 35px;
        margin-left: 32%;
    }
    
    .row-individual {
    display: none;
    margin-left: 4%;
    margin-right: 4%;
}
    
    .submit {
        margin-left: 35%;
    }
    
    footer {
        margin-top: 30px;
        padding: 20px;
    }
    
    .footer-nav {
        position: absolute;
        float: left;
        margin-top: 20px;
    }
    
    .social-links {
        position: relative;
        float: right;
    }